PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/expense_os?retryWrites=true&w=majority
JWT_SECRET=super_secret_jwt_hash_key_change_in_production
NODE_ENV=development
