:root{
    --bg:#0B1220;
    --card:#111827;
    --cardHover:#1E293B;
    --text:#F8FAFC;
    --secondary:#94A3B8;
    --primary:#6366F1;
    --green:#22C55E;
    --red:#EF4444;
    --radius:18px;
  }
  
  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,sans-serif;
  }
  
  body{
    background:var(--bg);
    color:var(--text);
  }
  
  a{
    text-decoration:none;
    color:inherit;
  }
  
  button{
    cursor:pointer;
  }
  
  input{
    outline:none;
  }